.crumbs {
    background-color: #F8F3F4;

    &__wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 60px 0;
    }

    &__heading {
        font-weight: 400;
        font-size: 24px;
        line-height: 29px;
        color: $main-color;
    }

    &__list {
        display: flex;
        list-style: none;
    }

    &__item {
        &::before {
            content: "/";
            margin: 0 5px;
        }

        &:first-child:before {
            content: none;
        }
    }

    &__link {
        @include button-transition();
        @include text-font-style();
        color: #636363;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
            color: $main-color;
        }

        &_current {
            font-weight: bold;
            color: $main-color;

            &:hover {
                text-decoration: none;
            }
        }
    }
}

@media (max-width: 760px) {
    .crumbs {
        &__wrap {
            padding-top: 24px;
            padding-bottom: 46px;
            flex-direction: column;
            gap: 32px;

            &_type_solo {
                padding-top: 60px;
                padding-bottom: 60px;
            }
        }


    }
}